VITE_API_URL=https://api.kirjaswappi.fi/api/v1
VITE_NOTIFICATION_WS_URL=wss://ans.kirjaswappi.fi/ws
VITE_NOTIFICATION_API_KEY=<Notification_Service_API_Key>
VITE_SECRET_KEY=YOUR_SECRET_KEY
VITE_GOOGLE_CLIENT_ID=<Google_Client_ID>